@page "/superheroes"
@inject ISuperHeroService SuperHeroService
@inject NavigationManager NavigationManager

<PageTitle>Super Heros</PageTitle>

<h3>Super Heros</h3>
@if (SuperHeroService.Heroes == null)
{
    <p>Carregando heróis...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Hero Name</th>
                <th>Comic</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hero in SuperHeroService.Heroes)
            {
                <tr>
                    <td>@hero.FirstName</td>
                    <td>@hero.LastName</td>
                    <td>@hero.HeroName</td>
                    <td>@(hero.Comic != null ? hero.Comic.Name : "Sem Comic")</td>
                    <td>
                        <button class="btn btn-primary" @onclick="(() => ShowHero(hero.Id))"><i class="oi oi-pencil"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="CreateSuperHero">Criar Novo Herói</button>
}

@code{
    protected override async Task OnInitializedAsync()
    {
        await SuperHeroService.GetSuperHeroes();
    }

    void ShowHero(int id)
    {
        NavigationManager.NavigateTo($"hero/{id}");
    }

    void CreateSuperHero()
    {
        NavigationManager.NavigateTo("/hero");
    }
}
